Se p√• null records

In [22]:
import pandas as pd

def see_null(table):
    path = "../data/raw/MINDsmall_dev/"+table
    df = pd.read_csv(path, sep="\t")
    
    zeroes = df.isnull().sum() 
    counts = df.count()
    counts_df = pd.DataFrame({
        "cols" : df.columns,
        "zero" :zeroes.values,
        "actual" : counts.values,
    })

    print(counts_df)

In [24]:
see_null("behaviors.tsv")
print("---------------------------------")
see_null("news.tsv")

                                                cols  zero  actual
0                                                  1     0   73151
1                                             U80234     0   73151
2                             11/15/2019 12:37:50 PM     0   73151
3  N55189 N46039 N51741 N53234 N11276 N264 N40716...  2214   70937
4  N28682-0 N48740-0 N31958-1 N34130-0 N6916-0 N5...     0   73151
---------------------------------
                                                cols  zero  actual
0                                             N55528     0   42415
1                                          lifestyle     0   42415
2                                    lifestyleroyals     0   42415
3  The Brands Queen Elizabeth, Prince Charles, an...     0   42415
4  Shop the notebooks, jackets, and more that the...  2021   40394
5      https://assets.msn.com/labs/mind/AAGH0ET.html     0   42415
6  [{"Label": "Prince Philip, Duke of Edinburgh",...     2   42413
7                                                 []     2   42413